<ion-view view-title="Post">
  <ion-content class="padding">
    <p>{{post.title}}</p>
    <p>{{post.content}}</p>
    <form ng-submit="addGroup(displayName, memberEmail)">
      Group Name:
      <label class="item item-input">
        <input type="text" ng-model="replyText" placeholder="Reply">
      </label>
      <div class="padding">
        <button type="submit" class="button button-block button-positive">Create Group</button>
      </div>
    </form>
    <div ng-repeat="comment in comments">
      <p>{{comment.score}}</p>
      <p>{{comment.content}}</p>
    </div>
  </ion-content>
</ion-view>
